<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Demo</title>
</head>
<body>
    <h1>Welcome to Home Page <%= %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta rem impedit ut animi eum! Omnis et atque fugiat minima unde eum quasi enim quaerat id, pariatur beatae, odio iste nisi? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure harum, deleniti repellendus dicta aliquam quaerat qui tempora, itaque illo laudantium debitis in eveniet possimus eum, quibusdam ea hic facere! Aspernatur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, maiores voluptatum. Ratione commodi corporis dignissimos placeat, debitis veritatis, fuga aut, perferendis maxime eos hic suscipit ullam facere dolorem quibusdam expedita.</p>
</body>
</html>